
html{

    /*background-image: url(../images/brown.jpg);*/
    background-color: white;
    background-repeat: no-repeat; 
     width: 100%;
     height:100%;/*700*/
     margin: 0px 0px 0px 0px;
}
iframe{
       border-style:none;
     }
.head {
    position: relative;
    display: inline-block;
    float:left;
    padding-left: 10px;
}
.logout{
    padding-top: 80px;
    padding-right: 10px;
    float: right;
    color: white;
    font-style:bold;

}
.tail2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.tail1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.head:hover .tail1,.head:hover .tail2{
    display: block;
        }
.main_container{
  
	margin-left: 3%;
    margin-right: auto;
    width: 1300px;
    height: 630px;/*640*/
    -moz-box-shadow: 5px 5px 10px 20px #777777;
    -webkit-box-shadow: 5px 5px 10px 5px #777777;
     box-shadow: 5px 5px 10px 5px #777777;
     background-color: white;
     background-repeat: no-repeat;
}
#header{
background-image:url("../images/internal.png");
width: 100%;
height: 16%;
background-color:black;
}
#body{
   width: 100%;
   height: 82%;
}

.final2footer{
	padding-top:10px;
    padding-bottom:10px;
	color: white;
	text-align: center;
	width: 100%;
	height: 2%;
	background-color:black;
		-moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
}