*{
	margin:0px;
	padding:0px;
}
body{
	font-size: 120%;
	background: #F8F8FF;
}
.header{
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: black;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.home-header{
	
	color: #5f9ea0;
	background: black;
	text-align: center;
	border-bottom: none;
	padding: 20px;

}
form{
	
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border:1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.container{
	
	width: 97%;
	padding: 20px;
	border:1px solid #B0C4DE;
	border-radius: 0px 0px 10px 10px;

}
.input-group{
	margin: 10px 0px 10px 0px ;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border:1px solid gray;
}
.btn{
	padding:10px;
	font-size: 15px;
	color:white;
	background: black;
	border:none;
	border-radius: 5px;
}
.error{
	width:92%;
	margin: 0px auto;
	padding: 10px;
	border:1px solid #a94442;
	color:#a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success{
	text-align:center;
	color:#3c763d;
	background: #dff0d8;
	margin-bottom: 20px;
}
.btnLogout{
	text-align: right;
}
.btnLogout a{
	text-decoration: none;
}

.sidenav {
	top:0;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 95px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #5f9ea0;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.bg{
	left:0px;
	width:100%;
	position:fixed;
}
.navbar{
	text-align:right;
	margin-right: 10px;
}
.navbar a{
	text-decoration:none;
	margin-left: 10px;
	margin-top: 50px;
}

.r_image{
	margin-left: 100px;

}